
<!-- Main component for a primary marketing message or call to action -->
<div class="container">    
    <div class="jumbotron">

    <h1>Twitter ID : <%=@user.username%></h1>
    <p>Recent 10 Tweets of : <%=@user.username%></p><br>
      <% if !@errors.nil?%>
        <% @errors.each do |error| %>
          <%= error%>
        <%end%>
      <% end %>
    
      <%@tweets.each do |tweet|%>
      <p><%=tweet.tweet_text%></p>
      <%end%>
    
    </div>

  </div> <!-- /container -->
</div>