
<!-- Main component for a primary marketing message or call to action -->
<div class="container">    
    <div class="jumbotron">

    <h1>Recent Tweet</h1>
    <p>Recent Tweet with Twitter API</p>
    
      <% if !@errors.nil?%>
        <% @errors.each do |error| %>
          <%= error%>
        <%end%>
      <% end %>
    <p><a href="/auth/twitter"><button type="button" class="btn btn-primary btn-lg">Sign In with Twitter&raquo;</button></a>
    </p>
    </div>

  </div> <!-- /container -->
</div>

<script>
  $(function(){
    $('#send-tweet').one("submit", function(event){
      event.preventDefault();
      $('#button').attr('disabled', 'disabled');
      $("#status").append("<img src='/gifs/ajax-loader.gif'>Loading...Please wait</img>")
      $.ajax({
        type: "POST",
        url: "/create",
        data: $("#send-tweet").serialize(),
        cache: false,
        success: function(value){
          // $("#status").html("<h1>Redirecting Now..</h1>");
          console.log(value);
          window.location.href = "/"+ value;
        },
        error: function(value){
          $("#status").html("Tweet Failed!");
        } 
       });
    });   
  });
</script>